.vscode/
!build/assets/
build/*
!build/assetpacker/
!build/game.conf
!build/assets/
!build/debugshader/
!build/levels/
!build/assetpacker/levels_wip/
build/assetpacker/*
!build/assetpacker/levels_wip/